<div ng-switch on="selectedItem.name">
	  	<div ng-switch-default>
	  		<!-- BEGINNING OF FIRST GUIDE ROW  -->
			  <div class="container guideBody">
				<div class="row">
				 <div class="col-xs-12 col-sm-6 col-md-3">
					<a href="/pages/lukesgeneralstore"><img src="/assets/stumptown-sm.jpg" class="img-responsive" alt="Luke's general store vancouver"></a>
					<h4><i class="fa fa-map-marker" style="color:#00D8CC"></i> CHINATOWN</h4>
					<p><i class="fa fa-pagelines" style="color:#888;"></i> <a href="/pages/lukesgeneralstore" style="color:#888;">LUKE'S GENERAL STORE</a><br>
					<i class="fa fa-coffee" style="color:orange"></i>
					</p>
				  </div>
				 <div class="col-xs-12 col-sm-6 col-md-3">
					<a href="/pages/matchstickchinatown"><img src="/assets/matchstick-chinatown-sm.jpg" class="img-responsive" alt="Matchstick Coffee Roasters, Chinatown"></a>
					<h4><i class="fa fa-map-marker" style="color:#00D8CC"></i> CHINATOWN</h4>
					<p><i class="fa fa-pagelines" style="color:#888;"></i> <a href="/pages/matchstickchinatown" style="color:#888;">MATCHSTICK COFFEE ROASTER</a><br>
					<i class="fa fa-cutlery" style="color:orange"></i> <i class="fa fa-coffee" style="color:orange"></i>
					</p>
				  </div>
				  <div class="col-xs-12 col-sm-6 col-md-3">
					<a href="/pages/musettecaffechinatown"><img src="/assets/musette-sm.jpg" class="img-responsive" alt="Musette Caffee Chinatown"></a>
					<h4><i class="fa fa-map-marker" style="color:#00D8CC"></i> CHINATOWN</h4>
					<p><i class="fa fa-pagelines" style="color:#888;"></i> <a href="/pages/musettecaffechinatown" style="color:#888;">MUSETTE CAFFE</a><br>
					<i class="fa fa-cutlery" style="color:orange"></i> <i class="fa fa-coffee" style="color:orange"></i>
					</p>
				  </div>
				  <div class="col-xs-12 col-sm-6 col-md-3">
					<a href="/pages/containercoffee"><img src="/assets/betty-sm.jpg" class="img-responsive" alt="Container Coffee at Burrard Hotel"></a>
					<h4><i class="fa fa-map-marker" style="color:#00D8CC"></i> DOWNTOWN</h4>
					<p><i class="fa fa-pagelines" style="color:#888;"></i> <a href="/pages/containercoffee" style="color:#888;">CONTAINER COFFEE</a><br>
					</p>
				  </div>
				</div>
			  </div><!-- END OF FIRST GUIDE ROW  -->
			  <!-- BEGINNING OF SECOND GUIDE ROW  -->
			  <div class="container guideBody">
				<div class="row">
				  <div class="col-xs-12 col-sm-6 col-md-3">
					<a href="/pages/greenhornespressobar"><img src="/assets/greenhorn-sm.jpg" class="img-responsive" alt="Greenhorn Espresso Bar"></a>
					<h4><i class="fa fa-map-marker" style="color:#00D8CC"></i> DOWNTOWN</h4>
					<p><i class="fa fa-pagelines" style="color:#888;"></i> <a href="/pages/greenhornespressobar" style="color:#888;">GREENHORN ESPRESSO BAR</a><br>
					<i class="fa fa-coffee" style="color:orange"></i>
					</p>
				   </div>
				   <div class="col-xs-12 col-sm-6 col-md-3">
					<a href="/pages/bashocafe"><img src="/assets/basho-sm.jpg" class="img-responsive" alt="Basho Japanese Cafe"></a>
					<h4><i class="fa fa-map-marker" style="color:#00D8CC"></i> EAST VANCOUVER</h4>
					<p><i class="fa fa-pagelines" style="color:#888;"></i> <a href="/pages/bashocafe" style="color:#888;">BASHO CAFE</a><br>
					<i class="fa fa-cutlery" style="color:orange"></i> <i class="fa fa-coffee" style="color:orange"></i>
					</p>
				  </div>
				  <div class="col-xs-12 col-sm-6 col-md-3">
					<a href="/pages/platform7coffee"><img src="/assets/platform7-sm.jpg" class="img-responsive" alt="Platform 7 Coffee"></a>
					<h4><i class="fa fa-map-marker" style="color:#00D8CC"></i> EAST VANCOUVER</h4>
					<p><i class="fa fa-pagelines" style="color:#888;"></i> <a href="/pages/platform7coffee" style="color:#888;">PLATFORM 7 COFFEE</a><br>
					<i class="fa fa-cutlery" style="color:orange"></i> <i class="fa fa-coffee" style="color:orange"></i>
					</p>
				  </div>
				   <div class="col-xs-12 col-sm-6 col-md-3">
					<a href="/pages/innocentcoffee"><img src="/assets/innocentcoffee-sm.jpg" class="img-responsive" alt="Innocent Coffee"></a>
					<h4><i class="fa fa-map-marker" style="color:#00D8CC"></i> FAIRVIEW</h4>
					<p><i class="fa fa-pagelines" style="color:#888;"></i> <a href="/pages/innocentcoffee" style="color:#888;">INNOCENT COFFEE</a><br>
					<i class="fa fa-cutlery" style="color:orange"></i> <i class="fa fa-coffee" style="color:orange"></i>
					</p>
				  </div>
				</div>
			  </div> <!-- END OF SECOND GUIDE ROW  -->
			  <!-- BEGINNING OF THIRD GUIDE ROW  -->
			  <div class="container guideBody">
				<div class="row">
				   <div class="col-xs-12 col-sm-6 col-md-3">
					<a href="/pages/marulilucafe"><img src="/assets/marulilu-sm.jpg" class="img-responsive" alt="Marulilu Japanese Cafe"></a>
					<h4><i class="fa fa-map-marker" style="color:#00D8CC"></i> FAIRVIEW</h4>
					<p><i class="fa fa-pagelines" style="color:#888;"></i> <a href="/pages/marulilucafe" style="color:#888;">MARULILU CAFE</a><br>
					<i class="fa fa-cutlery" style="color:orange"></i> <i class="fa fa-coffee" style="color:orange"></i>
					</p>
				  </div>
				  <div class="col-xs-12 col-sm-6 col-md-3">
					<a href="/pages/archivebyrevolver"><img src="/assets/archive-sm.jpg" class="img-responsive" alt="Archive by Revolver"></a>
					<h4><i class="fa fa-map-marker" style="color:#00D8CC"></i> GASTOWN</h4>
					<p><i class="fa fa-pagelines" style="color:#888;"></i> <a href="/pages/archivebyrevolver" style="color:#888;">ARCHIVE</a><br>
					<i class="fa fa-cutlery" style="color:orange"></i> <i class="fa fa-coffee" style="color:orange"></i>
					</p>
				  </div>
				  <div class="col-xs-12 col-sm-6 col-md-3">
					<a href="/pages/revolvercoffee"><img src="/assets/revolver-sm.jpg" class="img-responsive" alt="Revolver Coffee"></a>
					<h4><i class="fa fa-map-marker" style="color:#00D8CC"></i> GASTOWN</h4>
					<p><i class="fa fa-pagelines" style="color:#888;"></i> <a href="/pages/revolvercoffee" style="color:#888;">REVOLVER COFFEE</a><br>
					<i class="fa fa-cutlery" style="color:orange"></i> <i class="fa fa-coffee" style="color:orange"></i>
					</p>
				  </div>
				  <div class="col-xs-12 col-sm-6 col-md-3">
					<a href="/pages/timbertraincoffee"><img src="/assets/timbertrain-sm.jpg" class="img-responsive" alt="Timbertrain Coffee"></a>
					<h4><i class="fa fa-map-marker" style="color:#00D8CC"></i> GASTOWN</h4>
					<p><i class="fa fa-pagelines" style="color:#888;"></i> <a href="/pages/timbertraincoffee" style="color:#888;">TIMBERTRAIN</a><br>
					<i class="fa fa-cutlery" style="color:orange"></i> <i class="fa fa-coffee" style="color:orange"></i>
					</p>
				  </div>	
				</div>
			  </div> <!-- END OF THIRD GUIDE ROW  -->

			  <!-- BEGINNING OF FOURTH GUIDE ROW  -->
			  <div class="container guideBody">
				<div class="row">
				   <div class="col-xs-12 col-sm-6 col-md-3">
					<a href="/pages/nelsontheseagull"><img src="/assets/nelson-sm.jpg" class="img-responsive" alt="Nelson the seagull"></a>
					<h4><i class="fa fa-map-marker" style="color:#00D8CC"></i> GASTOWN</h4>
					<p><i class="fa fa-pagelines" style="color:#888;"></i> <a href="/pages/nelsontheseagull" style="color:#888;">NELSON THE SEAGULL</a><br>
					<i class="fa fa-cutlery" style="color:orange"></i> <i class="fa fa-coffee" style="color:orange"></i>
					</p>
				  </div>
				   <div class="col-xs-12 col-sm-6 col-md-3">
					<a href="/pages/lostandfoundcafe"><img src="/assets/lostandfound-sm.jpg" class="img-responsive" alt="Lost & Found Cafe"></a>
					<h4><i class="fa fa-map-marker" style="color:#00D8CC"></i> GASTOWN</h4>
					<p><i class="fa fa-pagelines" style="color:#888;"></i> <a href="/pages/lostandfoundcafe" style="color:#888;">LOST & FOUND</a><br>
					<i class="fa fa-coffee" style="color:orange"></i>
					</p>
				  </div>
				  <div class="col-xs-12 col-sm-6 col-md-3">
					<a href="/pages/fourtyninthparallelkits"><img src="/assets/49thparallel-sm.jpg" class="img-responsive" alt="49th Parallel Kitsilano"></a>
					<h4><i class="fa fa-map-marker" style="color:#00D8CC"></i> KITSILANO</h4>
					<p><i class="fa fa-pagelines" style="color:#888;"></i> <a href="/pages/fourtyninthparallelkits" style="color:#888;">49TH PARALLEL COFFEE</a><br>
					<i class="fa fa-cutlery" style="color:orange"></i> <i class="fa fa-coffee" style="color:orange"></i>
					</p>
				  </div>
				  <div class="col-xs-12 col-sm-6 col-md-3">
					<a href="/pages/momentocoffee"><img src="/assets/momentocoffee-sm.jpg" class="img-responsive" alt="Momento Coffee"></a>
					<h4><i class="fa fa-map-marker" style="color:#00D8CC"></i> KITSILANO</h4>
					<p><i class="fa fa-pagelines" style="color:#888;"></i> <a href="/pages/momentocoffee" style="color:#888;">MOMENTO COFFEE HOUSE</a><br>
					<i class="fa fa-cutlery" style="color:orange"></i> <i class="fa fa-coffee" style="color:orange"></i>
					</p>
				  </div>
				</div>
			  </div> <!-- END OF FOURTH GUIDE ROW  -->

			  <!-- BEGINNING OF FIFTH GUIDE ROW  -->
			  <div class="container guideBody">
				<div class="row">
				   <div class="col-xs-12 col-sm-6 col-md-3">
					<a href="/pages/continentalcoffee"><img src="/assets/continental-sm.jpg" class="img-responsive" alt="Continental Coffee"></a>
					<h4><i class="fa fa-map-marker" style="color:#00D8CC"></i> MOUNT PLEASANT</h4>
					<p><i class="fa fa-pagelines" style="color:#888;"></i> <a href="/pages/continentalcoffee" style="color:#888;">CONTINENTAL COFFEE HOUSE</a><br>
					<i class="fa fa-cutlery" style="color:orange"></i> <i class="fa fa-coffee" style="color:orange"></i>
					</p>
				  </div>
				  <div class="col-xs-12 col-sm-6 col-md-3">
					<a href="/pages/kafkascoffee"><img src="/assets/kafkas-sm.jpg" class="img-responsive" alt="Kafka's Coffee"></a>
					<h4><i class="fa fa-map-marker" style="color:#00D8CC"></i> MOUNT PLEASANT</h4>
					<p><i class="fa fa-pagelines" style="color:#888;"></i> <a href="/pages/kafkascoffee" style="color:#888;">KAFKA'S COFFEE</a><br>
					<i class="fa fa-cutlery" style="color:orange"></i> <i class="fa fa-coffee" style="color:orange"></i>
					</p>
				  </div>
				  <div class="col-xs-12 col-sm-6 col-md-3">
					<a href="/pages/fourtyninthparallelvan"><img src="/assets/49thparallelvan-sm.jpg" class="img-responsive" alt="49th Parallel Coffee Mount Pleasant"></a>
					<h4><i class="fa fa-map-marker" style="color:#00D8CC"></i> MOUNT PLEASANT</h4>
					<p><i class="fa fa-pagelines" style="color:#888;"></i> <a href="/pages/fourtyninthparallelvan" style="color:#888;">49TH PARALLEL COFFEE</a><br>
					<i class="fa fa-cutlery" style="color:orange"></i> <i class="fa fa-coffee" style="color:orange"></i>
					</p>
				  </div>
				  <div class="col-xs-12 col-sm-6 col-md-3">
					<a href="/pages/lemarchestgeorge"><img src="/assets/lemarchestgeorge-sm.jpg" class="img-responsive" alt="Le Marche St George"></a>
					<h4><i class="fa fa-map-marker" style="color:#00D8CC"></i> MOUNT PLEASANT</h4>
					<p><i class="fa fa-pagelines" style="color:#888;"></i> <a href="/pages/lemarchestgeorge" style="color:#888;">LE MARCHÉ ST GEORGE</a><br>
					<i class="fa fa-cutlery" style="color:orange"></i> <i class="fa fa-coffee" style="color:orange"></i>
					</p>
				  </div>
				</div>
			  </div> <!-- END OF FIFTH GUIDE ROW  -->
		</div><!--END OF NG-SWITCH DEFAULT-->

		<!-- BEGINNING OF CHINATOWN GUIDE -->

		<div ng-switch-when="Chinatown">
			  <div class="container guideBody">
				<div class="row">
				  <div class="col-xs-12 col-sm-6 col-md-3">
					<a href="/pages/lukesgeneralstore"><img src="/assets/stumptown-sm.jpg" class="img-responsive" alt="Luke's General Store Vancouver"></a>
					<h4><i class="fa fa-map-marker" style="color:#00D8CC"></i> CHINATOWN</h4>
					<p><i class="fa fa-pagelines" style="color:#888;"></i> <a href="/pages/lukesgeneralstore" style="color:#888;">LUKE'S GENERAL STORE</a><br>
					<i class="fa fa-coffee" style="color:orange"></i>
					</p>
				  </div>
				 <div class="col-xs-12 col-sm-6 col-md-3">
					<a href="/pages/matchstickchinatown"><img src="/assets/matchstick-chinatown-sm.jpg" class="img-responsive" alt="Matchstick Coffee Chinatown"></a>
					<h4><i class="fa fa-map-marker" style="color:#00D8CC"></i> CHINATOWN</h4>
					<p><i class="fa fa-pagelines" style="color:#888;"></i> <a href="/pages/matchstickchinatown" style="color:#888;">MATCHSTICK COFFEE ROASTER</a><br>
					<i class="fa fa-cutlery" style="color:orange"></i> <i class="fa fa-coffee" style="color:orange"></i>
					</p>
				  </div>
				  <div class="col-xs-12 col-sm-6 col-md-3">
					<a href="/pages/musettecaffechinatown"><img src="/assets/musette-sm.jpg" class="img-responsive" alt="Musette Coffee Chinatown"></a>
					<h4><i class="fa fa-map-marker" style="color:#00D8CC"></i> CHINATOWN</h4>
					<p><i class="fa fa-pagelines" style="color:#888;"></i> <a href="/pages/musettecaffechinatown" style="color:#888;">MUSETTE CAFFE</a><br>
					<i class="fa fa-cutlery" style="color:orange"></i> <i class="fa fa-coffee" style="color:orange"></i>
					</p>
				  </div>
				</div>
			  </div><!-- END OF FIRST GUIDE ROW  -->
		</div><!--END OF NG-SWITH-WHEN-CHINATOWN-->

		<!-- END OF CHINATOWN GUIDE -->

		<!--BEGINNING OF DOWNTOWN GUIDE -->

		<div ng-switch-when="Downtown">
			  <div class="container guideBody">
				<div class="row">
				  <div class="col-xs-12 col-sm-6 col-md-3">
					<a href="/pages/containercoffee"><img src="/assets/betty-sm.jpg" class="img-responsive" alt="Container Coffee at Burrard Hotel"></a>
					<h4><i class="fa fa-map-marker" style="color:#00D8CC"></i> DOWNTOWN</h4>
					<p><i class="fa fa-pagelines" style="color:#888;"></i> <a href="/pages/containercoffee" style="color:#888;">CONTAINER COFFEE</a><br>
					</p>
				  </div>

				  <div class="col-xs-12 col-sm-6 col-md-3">
					<a href="/pages/greenhornespressobar"><img src="/assets/greenhorn-sm.jpg" class="img-responsive" alt="Greenhorn Espresso Bar"></a>
					<h4><i class="fa fa-map-marker" style="color:#00D8CC"></i> DOWNTOWN</h4>
					<p><i class="fa fa-pagelines" style="color:#888;"></i> <a href="/pages/greenhornespressobar" style="color:#888;">GREENHORN ESPRESSO BAR</a><br>
					<i class="fa fa-coffee" style="color:orange"></i>
					</p>
				   </div>
			  </div><!-- END OF CONTAINER  -->
		</div><!--END OF NG-SWITH-WHEN-DOWNTOWN-->	  
		

		<!-- END OF DOWNTOWN GUIDE -->


		<!-- BEGINNING OF EAST VANCOUVER GUIDE -->

		<div ng-switch-when="East Vancouver">
			  <div class="container guideBody">
				<div class="row">
				  <div class="col-xs-12 col-sm-6 col-md-3">
					<a href="/pages/bashocafe"><img src="/assets/basho-sm.jpg" class="img-responsive" alt="Basho Cafe"></a>
					<h4><i class="fa fa-map-marker" style="color:#00D8CC"></i> EAST VANCOUVER</h4>
					<p><i class="fa fa-pagelines" style="color:#888;"></i> <a href="/pages/bashocafe" style="color:#888;">BASHO CAFE</a><br>
					<i class="fa fa-cutlery" style="color:orange"></i> <i class="fa fa-coffee" style="color:orange"></i>
					</p>
				  </div>
				  <div class="col-xs-12 col-sm-6 col-md-3">
					<a href="/pages/platform7coffee"><img src="/assets/platform7-sm.jpg" class="img-responsive" alt="Platform7 Coffee"></a>
					<h4><i class="fa fa-map-marker" style="color:#00D8CC"></i> EAST VANCOUVER</h4>
					<p><i class="fa fa-pagelines" style="color:#888;"></i> <a href="/pages/platform7coffee" style="color:#888;">PLATFORM 7 COFFEE</a><br>
					<i class="fa fa-cutlery" style="color:orange"></i> <i class="fa fa-coffee" style="color:orange"></i>
					</p>
				  </div>
				</div>
			  </div><!-- END OF FIRST GUIDE ROW  -->
		</div><!--END OF NG-SWITH-WHEN-MOUNT PLEASANT-->

		<!-- END OF EAST VANCOUVER GUIDE -->


		<!-- BEGINNING OF FAIRVIEW GUIDE -->

		<div ng-switch-when="Fairview">
			  <div class="container guideBody">
				<div class="row">
				  <div class="col-xs-12 col-sm-6 col-md-3">
					<a href="/pages/innocentcoffee"><img src="/assets/innocentcoffee-sm.jpg" class="img-responsive" alt="Innocent Coffee"></a>
					<h4><i class="fa fa-map-marker" style="color:#00D8CC"></i> FAIRVIEW</h4>
					<p><i class="fa fa-pagelines" style="color:#888;"></i> <a href="/pages/innocentcoffee" style="color:#888;">INNOCENT COFFEE</a><br>
					<i class="fa fa-cutlery" style="color:orange"></i> <i class="fa fa-coffee" style="color:orange"></i>
					</p>
				  </div>
				  <div class="col-xs-12 col-sm-6 col-md-3">
					<a href="/pages/marulilucafe"><img src="/assets/marulilu-sm.jpg" class="img-responsive" alt="Marulilu Cafe"></a>
					<h4><i class="fa fa-map-marker" style="color:#00D8CC"></i> FAIRVIEW</h4>
					<p><i class="fa fa-pagelines" style="color:#888;"></i> <a href="/pages/marulilucafe" style="color:#888;">MARULILU CAFE</a><br>
					<i class="fa fa-cutlery" style="color:orange"></i> <i class="fa fa-coffee" style="color:orange"></i>
					</p>
				  </div>
				</div>
			  </div><!-- END OF FIRST GUIDE ROW  -->
		</div><!--END OF NG-SWITH-WHEN-FAIRVIEW-->

		<!-- END OF FAIRVIEW GUIDE -->


		<!--BEGINNING OF GASTOWN GUIDE -->

		<div ng-switch-when="Gastown">
			  <!-- BEGINNING OF FIRST GASTOWN GUIDE ROW  -->
			  <div class="container guideBody">
				<div class="row">
				  <div class="col-xs-12 col-sm-6 col-md-3">
					<a href="/pages/archivebyrevolver"><img src="/assets/archive-sm.jpg" class="img-responsive" alt="Archive by Revolver"></a>
					<h4><i class="fa fa-map-marker" style="color:#00D8CC"></i> GASTOWN</h4>
					<p><i class="fa fa-pagelines" style="color:#888;"></i> <a href="/pages/archivebyrevolver" style="color:#888;">ARCHIVE</a><br>
					<i class="fa fa-cutlery" style="color:orange"></i> <i class="fa fa-coffee" style="color:orange"></i>
					</p>
				  </div>
				  <div class="col-xs-12 col-sm-6 col-md-3">
					<a href="/pages/revolvercoffee"><img src="/assets/revolver-sm.jpg" class="img-responsive" alt="Revolver Coffee"></a>
					<h4><i class="fa fa-map-marker" style="color:#00D8CC"></i> GASTOWN</h4>
					<p><i class="fa fa-pagelines" style="color:#888;"></i> <a href="/pages/revolvercoffee" style="color:#888;">REVOLVER COFFEE</a><br>
					<i class="fa fa-cutlery" style="color:orange"></i> <i class="fa fa-coffee" style="color:orange"></i>
					</p>
				  </div>
				  <div class="col-xs-12 col-sm-6 col-md-3">
					<a href="/pages/timbertraincoffee"><img src="/assets/timbertrain-sm.jpg" class="img-responsive" alt="Timbertrain Coffee"></a>
					<h4><i class="fa fa-map-marker" style="color:#00D8CC"></i> GASTOWN</h4>
					<p><i class="fa fa-pagelines" style="color:#888;"></i> <a href="/pages/timbertraincoffee" style="color:#888;">TIMBERTRAIN</a><br>
					<i class="fa fa-cutlery" style="color:orange"></i> <i class="fa fa-coffee" style="color:orange"></i>
					</p>
				  </div>	
				  <div class="col-xs-12 col-sm-6 col-md-3">
					<a href="/pages/nelsontheseagull"><img src="/assets/nelson-sm.jpg" class="img-responsive" alt="Nelson The Seagull"></a>
					<h4><i class="fa fa-map-marker" style="color:#00D8CC"></i> GASTOWN</h4>
					<p><i class="fa fa-pagelines" style="color:#888;"></i> <a href="/pages/nelsontheseagull" style="color:#888;">NELSON THE SEAGULL</a><br>
					<i class="fa fa-cutlery" style="color:orange"></i> <i class="fa fa-coffee" style="color:orange"></i>
					</p>
				  </div>
				</div>
			  </div><!-- END OF FIRST GASTOWN GUIDE ROW  -->

			  <!-- BEGINNING OF SECOND GASTOWN GUIDE ROW  -->

			  <div class="container guideBody">
				<div class="row">  
				  <div class="col-xs-12 col-sm-6 col-md-3">
					<a href="/pages/lostandfoundcafe"><img src="/assets/lostandfound-sm.jpg" class="img-responsive" alt="Lost & Found Cafe"></a>
					<h4><i class="fa fa-map-marker" style="color:#00D8CC"></i> GASTOWN</h4>
					<p><i class="fa fa-pagelines" style="color:#888;"></i> <a href="/pages/lostandfoundcafe" style="color:#888;">LOST & FOUND</a><br>
					<i class="fa fa-coffee" style="color:orange"></i>
					</p>
				  </div>
				</div>
			  </div><!-- END OF SECOND GUIDE ROW  -->
		</div><!--END OF NG-SWITH-WHEN-GASTOWN-->

		<!-- END OF GASTOWN GUIDE -->

		<!-- BEGINNING OF KITSILANO GUIDE -->

		<div ng-switch-when="Kitsilano">
			  <div class="container guideBody">
				<div class="row">
				  <div class="col-xs-12 col-sm-6 col-md-3">
					<a href="/pages/fourtyninthparallelkits"><img src="/assets/49thparallel-sm.jpg" class="img-responsive" alt="49th Parallel Coffee Kitsilano"></a>
					<h4><i class="fa fa-map-marker" style="color:#00D8CC"></i> KITSILANO</h4>
					<p><i class="fa fa-pagelines" style="color:#888;"></i> <a href="/pages/fourtyninthparallelkits" style="color:#888;">49TH PARALLEL COFFEE</a><br>
					<i class="fa fa-cutlery" style="color:orange"></i> <i class="fa fa-coffee" style="color:orange"></i>
					</p>
				  </div>
				  <div class="col-xs-12 col-sm-6 col-md-3">
					<a href="/pages/momentocoffee"><img src="/assets/momentocoffee-sm.jpg" class="img-responsive" alt="Momento Coffee"></a>
					<h4><i class="fa fa-map-marker" style="color:#00D8CC"></i> KITSILANO</h4>
					<p><i class="fa fa-pagelines" style="color:#888;"></i> <a href="/pages/momentocoffee" style="color:#888;">MOMENTO COFFEE HOUSE</a><br>
					<i class="fa fa-cutlery" style="color:orange"></i> <i class="fa fa-coffee" style="color:orange"></i>
					</p>
				  </div>
				</div>
			  </div><!-- END OF FIRST GUIDE ROW  -->
		</div><!--END OF NG-SWITH-WHEN-MOUNT PLEASANT-->

		<!-- END OF KITSILANO GUIDE -->


		<!-- BEGINNING OF MOUNT PLEASANT GUIDE -->

		<div ng-switch-when="Mount Pleasant">
			  <div class="container guideBody">
				<div class="row">
				  <div class="col-xs-12 col-sm-6 col-md-3">
					<a href="/pages/matchstickvan"><img src="/assets/continental-sm.jpg" class="img-responsive" alt="Matchstick Coffee Vancouver"></a>
					<h4><i class="fa fa-map-marker" style="color:#00D8CC"></i> MOUNT PLEASANT</h4>
					<p><i class="fa fa-pagelines" style="color:#888;"></i> <a href="/pages/matchstickvan" style="color:#888;">CONTINENTAL COFFEE HOUSE</a><br>
					<i class="fa fa-cutlery" style="color:orange"></i> <i class="fa fa-coffee" style="color:orange"></i>
					</p>
				  </div>
				  <div class="col-xs-12 col-sm-6 col-md-3">
					<a href="/pages/kafkascoffee"><img src="/assets/kafkas-sm.jpg" class="img-responsive" alt="Kafka's Coffee"></a>
					<h4><i class="fa fa-map-marker" style="color:#00D8CC"></i> MOUNT PLEASANT</h4>
					<p><i class="fa fa-pagelines" style="color:#888;"></i> <a href="/pages/kafkascoffee" style="color:#888;">KAFKA'S COFFEE</a><br>
					<i class="fa fa-cutlery" style="color:orange"></i> <i class="fa fa-coffee" style="color:orange"></i>
					</p>
				  </div>
				  <div class="col-xs-12 col-sm-6 col-md-3">
					<a href="/pages/fourtyninthparallelvan"><img src="/assets/49thparallelvan-sm.jpg" class="img-responsive" alt="49th Parallel Coffee Vancouver"></a>
					<h4><i class="fa fa-map-marker" style="color:#00D8CC"></i> MOUNT PLEASANT</h4>
					<p><i class="fa fa-pagelines" style="color:#888;"></i> <a href="/pages/fourtyninthparallelvan" style="color:#888;">49TH PARALLEL COFFEE</a><br>
					<i class="fa fa-cutlery" style="color:orange"></i> <i class="fa fa-coffee" style="color:orange"></i>
					</p>
				  </div>
				  <div class="col-xs-12 col-sm-6 col-md-3">
					<a href="/pages/lemarchestgeorge"><img src="/assets/lemarchestgeorge-sm.jpg" class="img-responsive" alt="Le Marche St George"></a>
					<h4><i class="fa fa-map-marker" style="color:#00D8CC"></i> MOUNT PLEASANT</h4>
					<p><i class="fa fa-pagelines" style="color:#888;"></i> <a href="/pages/lemarchestgeorge" style="color:#888;">LE MARCHÉ ST GEORGE</a><br>
					<i class="fa fa-cutlery" style="color:orange"></i> <i class="fa fa-coffee" style="color:orange"></i>
					</p>
				  </div>
				</div>
			  </div><!-- END OF FIRST GUIDE ROW  -->
		</div><!--END OF NG-SWITH-WHEN-MOUNT PLEASANT-->

		<!-- END OF MOUNT PLEASANT GUIDE -->


	  </div><!--END OF NG-SWITCH ON SELECTION-->