@import "coffeeshop_variables.less";

/* ABOUT SECTION */

.aboutHeader {
  margin-top: @about-header-margin-top;
  padding: @about-header-padding;
  text-align: @about-header-text-align;
  
  p {
    color: @color-dark-grey;
    line-height: @about-header-p-line-height;
    padding-top: @about-header-p-padding-top;
  }
}

.aboutContent {
  padding-bottom: @about-content-padding-bottom;
  text-align: @about-header-text-align;
  
  img {
    margin-top: @about-content-img-margin-top;
  }

  h3 {
    margin-top: @about-content-h3-margin-top;
  }

  p {
    color: @color-dark-grey;
    font-size: @about-content-p-font-size;
    line-height: @about-header-p-line-height;
    padding: @about-content-p-padding;
  }
}