@media screen and (device-aspect-ratio: 2/3) {
	.homeText h1 {
		font-size: 45px;
		line-height: 45px;
		margin-bottom: 20px;
	}
	
	.homeText p {
		font-size: 20px;
		line-height: 24px;
	}

	.homeContent span{
		font-size:12px;
	}

	.cbp-so-section h2{
		font-size: 35px;
	}
}

@media (min-width: 768px) and (max-width: 979px) {

	.homeText {
		margin-top: 0;
	}
	
}

@media (min-width: 481px) and (max-width: 767px) {

	.affix {
		margin: 0 auto;
		top: 0;
	}
	
	.navbar .brand img{
		margin-top: 5px;
	}
	
	.navbar .btn-navbar {
		margin-top: 13px;
	}
	
	#home {	
		padding-top: 40px;
	}
	
	.homeContent {
		text-align: center;
	}

	.homeContent span{
		font-size:12px;
	}
	
	.homeText {
		margin-top: 0;
		padding: 0px 20px 40px 20px;
	}
	
	.homeText h1 {
		margin-bottom: 30px;
	}
	
	a.homeText{
		margin-right: 10px;
		margin-left: 10px;
	}

	.cbp-so-section.cbp-so-animate .cbp-so-side-left,
	.cbp-so-section.cbp-so-animate .cbp-so-side-right{
		width: 100%;
	}
	
	#footer .container {
		text-align: center;
		padding-left: 10px;
		padding-right: 10px;
	}
	
	#footer .social img{
		float: none;
	}
	
}

@media (max-width: 480px) {

	.affix {
		margin: 0 auto;
		top: 0;
	}
	
	.navbar .brand img{
		margin-top: 5px;
	}
	
	.navbar .btn-navbar {
		margin-top: 13px;
	}
	
	#home {
		text-align: center;
		padding-top: 40px;
	}
	
	.homeText {
		margin-top: 0;
		padding: 10px 10px 0px 10px;
	}
	
	.homeText h1 {
		font-size: 45px;
		line-height: 45px;
		margin-bottom: 20px;
	}
	
	.homeText p {
		font-size: 20px;
		line-height: 24px;
	}

	.homeContent span{
		font-size:12px;
	}
	
	
	.sectionHeading {
		font-size: 40px;
		font-weight: 300;
		line-height: 40px;
		letter-spacing: -1px;
	}
	
	.cbp-so-section.cbp-so-animate .cbp-so-side-left,
	.cbp-so-section.cbp-so-animate .cbp-so-side-right{
		width: 100%;
	}
	
	.cbp-so-section h2{
		font-size: 35px;
	}
	
	.coffeeIcons li {
		font-size: 16px;
		line-height: 26px;
	}
	
	.coffeeIcons > li i {
		padding-right: 10px;
	}
	
	#footer .container {
		text-align: center;
		padding-left: 10px;
		padding-right: 10px;
	}
	
	#footer .social img{
		float: none;
	}
	
}

@media screen and (max-width: 73.5em) {

	.cbp-so-scroller {
		font-size: 65%;
	}

	.cbp-so-section h2 {
		margin: 0;
	}

	.cbp-so-side img {
		max-width: 120%;
	}
	
}

@media screen and (max-width: 41.125em) {

	.cbp-so-side {
		float: none;
		width: 100%;
	}

	.cbp-so-side img {
		max-width: 100%;
	}
	
}

@media screen and (max-width: 30.6em) { 

	.cbp-qtrotator {
		font-size: 70%;
	}

	.cbp-qtrotator img {
		width: 80px;
	}
	
}