<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <!-- Title and Description-->
  <meta charset="UTF-8">
  <title>Vancouver Coffeeshops Guide</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta content="text/html; charset=utf-8" http-equiv="content-type"/>
  <meta name="description" content="Vancouver Coffeeshops Guide"/>
  <meta name="keywords" content="coffee, coffee addict, coffee lover, coffeeshop, vancouver"/>
    
    <!-- Styles -->
    <link href="/assets/application-0c01b384151e6cf355c85c424413e400.css" rel="stylesheet">
    <link href="https://s3.amazonaws.com/vancoffeeshops/css/custom.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <link href="/assets/blogs.css" rel="stylesheet">
    <link href="/assets/bootstrap.css" rel="stylesheet">
    <link href="/assets/bootstrap-responsive.css" rel="stylesheet">
    <link href="/assets/coffeeshoplists.css" rel="stylesheet">
    <link href="/assets/font-awesome.css" rel="stylesheet">
    <link href="/assets/pages.css" rel="stylesheet">
    <link href="/assets/rails_bootstrap_form.css" rel="stylesheet">

  
  <%= csrf_meta_tags %>
</head>
<body>

    <!--CONTENT-->
    <%= yield %>
  
    <!--SCRIPTS-->
    <script src="/assets/jquery.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular-resource.min.js"></script>
    <script src="/assets/active_admin.js"></script>
    <script src="/assets/angular.js"></script>
    <script src="/assets/blogFormValidation.js"></script>
    <script src="/assets/blogs.js"></script>
    <script src="/assets/bootstrap-affix.js"></script>
    <script src="/assets/bootstrap-collapse.js"></script>
    <script src="/assets/bootstrap-transition.js"></script>
    <script src="/assets/bootstrap.js"></script>
    <script src="/assets/cbpScroller.js"></script>
    <script src="/assets/classie.js"></script>
    <script src="/assets/coffeeshoplists.js"></script>
    <script src="/assets/contactFormValidation.js"></script>
    <script src="/assets/jquery.cbpQTRotator.min.js"></script>
    <script src="/assets/jquery.validate.min.js"></script>
    <script src="/assets/modernizr.custom.js"></script>
    <script src="/assets/pages.js"></script>
    <script src="/assets/script.js"></script>
    <script src="/assets/smoothscroll.js"></script>
    <script src="/assets/ui-utils.min.js"></script>

</body>
</html>




 